.heading {

    color:aqua;
    background-color: aliceblue;
    font-family: 'Times New Roman', 'Georgia', sans-serif;
    font-weight: bold
    
}


.list {

    color: black;
    font-family: 'Times New Roman', 'Georgia', sans-serif;

}